<!-- PHP VARIABLES -->
<!-- REQUEST_URI = URL para guardar el formulario -->
<!-- PREGUNTAS = JSON STRING CON LAS PREGUNTAS -->
<!-- ORG_ID = Hash de la empresa -->
<!-- ORG_NAME = Nombre de la organizacion en base al link -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <form id="formulario" class="row" action="%REQUEST_URI%" method="POST">
                <input type="hidden" name="organizacion" value="%ORG_ID%" required>
                <div class="col-12">
                    <h1>Cuestionario de Resiliencia Para: %ORG_NAME%</h1>
                    <h2>Instrucciones</h2>
                    <p>
                        A continuación, encontrarás algunas preguntas sobre la manera como te sientes, piensas y te comportas. Después de cada pregunta
                        responderás SI, si es como te sientes, piensas y te comportas, y responderás NO cuando la pregunta
                        no diga como te sientes, piensas y te comportas. Contesta a todas las preguntas, aunque alguna te
                        sea difícil de responder. No hay respuestas buenas ni malas, por eso trata de ser totalmente sincer@,
                        ya que nadie va a conocer tus respuestas.
                    </p>
                </div>
                <div class="form-group col-12">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="form-group col-12">
                    <label for="fechadenacimiento">Fecha de Nacimiento</label>
                    <input id="fechadenacimiento" name="fechadenacimiento" required>
                </div>
                <div class="col-12">
                    <span>Edad:
                        <span id="edad-span"></span>
                    </span>
                    <input type="hidden" id="edad" name="edad">
                </div>
                <div class="col-12 pt-3">
                    <h3>Preguntas</h3>
                </div>
                <div class="container-fluid pb-5">
                    <div id="preguntas" class="container-fluid border"></div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" name="submitted">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function ($) {
        var preguntas = JSON.parse('%PREGUNTAS%');
        preguntas.forEach(function (pregunta, index, array) {
            var background = '';
            if (index % 2 !== 0) {
                background = 'style="background: rgba(192,192,192,0.3);" ';
            }
            var div = '\
            <div ' + background + 'class="row pb-2 border-bottom">\
                <div class="col-10">\
                    <label for="pregunta_' + pregunta.id + '">' + pregunta.pregunta + '</label> \
                </div>\
                <div class="col-1 form-check">\
                    <input class="form-check-input" type="radio" name="pregunta_' + pregunta.id + '" id="pregunta_' + pregunta.id + '_si" value="S">\
                    <label class="form-check-label" for="pregunta_' + pregunta.id + '_si">SI</label>\
                </div>\
                <div class="col-1 form-check">\
                    <input class="form-check-input" type="radio" name="pregunta_' + pregunta.id + '" id="pregunta_' + pregunta.id + '_no" value="N">\
                    <label class="form-check-label" for="pregunta_' + pregunta.id + '_no">NO</label>\
                </div>\
            </div>';
            $("#preguntas").append(div);
        });

        $('#fechadenacimiento').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd'
        });

        $('#fechadenacimiento').change(function () {
            let nacimiento = new Date($(this).val());
            let diferenciaMs = new Date(Date.now() - nacimiento.getTime());
            let edad = Math.abs(diferenciaMs.getUTCFullYear() - 1970);

            $('#edad').val(edad);
            $('#edad-span').html(edad);
        });
    });
</script>