<!-- PHP VARIABLES -->
<!-- DATA = Arreglo con los resultados del cuestionario -->
<div id="result-container" style="width: 100%;">
    <table style="width: 100%;">
        <thead>
            <th>
                Autoestima
            </th>
            <th>
                Empatía
            </th>
            <th>
                Autonomía
            </th>
            <th>
                Humor
            </th>
            <th>
                Creatividad
            </th>
        </thead>
        <tbody>
            <tr id="row">
            </tr>
        </tbody>
    </table>
    <canvas id="resultados" width="400" height="400"></canvas>
</div>

<script>
    var ctx = document.getElementById("resultados").getContext("2d");
    ctx.canvas.height = 600;
    ctx.canvas.width = document.getElementById('result-container').innerWidth;
    var resultados = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Autoestima', 'Empatía', 'Autonomía', 'Humor', 'Creatividad'],
            datasets: [{
                label: 'Puntos',
                data: JSON.parse('%DATA%'),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    var resultadosJSON = JSON.parse(`%RESULTADOS%`);
    resultadosJSON.forEach(function (resultado, index, array) {
        var background = '';
        if (index % 2 !== 0) {
            background = 'style=\"background: rgba(192,192,192,0.3);\"';
        }
        var cell = '\
            <td ' + background + '>\
                ' + resultado + '\
            </td>';

        var row = document.getElementById('row');
        row.innerHTML += cell;
    });
</script>